.env
.idea
tmp
uploads
frontend/node_modules
frontend/dist
frontend/build
frontend/public
backend/uploads
backend/finished_videos
backend/app/__pycache__
backend/app/.venv
/heart-track-app/node_modules
/heart-track-app/ios
/heart-track-app/android
/node_modules
/ios
/android
/heart-track-app/.expo
/heart-track-app/.vscode